<h1>Hola desde handlebars</h1>
<h2>Tu nombre es: {{name}}</h2>
{{#if is_admin}}
    <button>Borrar proyecto</button>
    {{else}}
    <button disabled> 
        Borrar proyecto
    </button>
{{/if}}

{{#each workspaces}}
    <h2>{{name}}</h2>
    <a href="/workspace/{{_id}}">Ir a espacio de trabajo</a>
{{/each}}