<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi pagina</title>
</head>
<body>
    <header>
        <h1>Mi pagina web</h1>
        <nav>
            <a href="localhost:8080/test">Inicio</a>
            <a disabled href="">Contacto</a>
            <a disabled href="">Sobre nosotros</a>
        </nav>
    </header>
    <main>
        {{!-- LLamamos al cuerpo de la vista (osea la vista en si) --}}
        {{{body}}}
    </main>
</body>
</html>